@page "/teams"

@using Microsoft.Identity.Web
@using Microsoft.Graph

@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<h1>My Teams</h1>

<p>This component shows joined teams</p>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-condensed" style="font-family: monospace">
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>@user.DisplayName</td>
        </tr>
    </table>
}

@if (teams != null)
{
    <div>
        <h2>Teams:</h2>
        <table class="table table-striped table-condensed" style="font-family: monospace">
            <tr>
                <th>Team Name</th>
                <th>Team ID</th>
            </tr>
            @foreach (var group in teams)
            {
                <tr>
                    <td>@group.DisplayName</td>
                    <td>@group.Id</td>
                </tr>
            }
        </table>
    </div>
}

@code {
    User? user;
    List<Team> teams = new();

    protected override async Task OnInitializedAsync()
    {
        try {
            user = await GraphServiceClient.Me.Request().GetAsync();
            var teaming = await GraphServiceClient.Me.JoinedTeams.Request().GetAsync();

            foreach (var team in teaming) {
                    teams.Add(team);
            }
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }
}